Tugas 4 Implementasi AI untuk Pemasaran_Muhamad Indra Ikmaludin_0110123056.json
{
  "name": "Tugas 4 Implementasi AI untuk Pemasaran_Muhamad Indra Ikmaludin_0110123056",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "7845ec6c-aa34-4ad1-9082-83392ca847d2",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "=1O8eTjPksyQzrh30-o5xlb--DNLQcQhSwxT75UYMr3w8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "fb843ab2-0b83-4853-955f-458d5bd00380",
      "name": "Ambil Data Posting",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "grofA9sptIfzIUnN",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const now = DateTime.now().setZone('Asia/Jakarta');\nconst postsToSend = [];\n\n// Melakukan pengulangan (looping) untuk setiap baris data dari Google Sheet\nfor (const item of $input.all()) {\n  const dateStr = item.json['Scheduled Date']; \n  const timeStr = item.json['Scheduled Time'];\n  \n  // Memecah format tanggal DD/MM/YYYY\n  const [day, month, year] = dateStr.split('/');\n  const [hour, minute, second] = timeStr.split(':');\n\n  // Membuat objek waktu yang bisa dimengerti sistem\n  const scheduledTime = DateTime.fromObject({\n    year: parseInt(year),\n    month: parseInt(month),\n    day: parseInt(day),\n    hour: parseInt(hour),\n    minute: parseInt(minute),\n    second: parseInt(second)\n  }, { zone: 'Asia/Jakarta' });\n\n  // CEK: Jika waktu valid DAN waktu tersebut sudah lewat (atau sama dengan) jam sekarang\n  if (scheduledTime.isValid && scheduledTime <= now) {\n    postsToSend.push(item);\n  }\n}\n\nreturn postsToSend;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "a8566d3e-231f-4662-83db-a30bc776048c",
      "name": "Filter Ready Post"
    },
    {
      "parameters": {
        "chatId": "5388551320",
        "text": "={{ $json.Content }}",
        "replyMarkup": "=none",
        "forceReply": {},
        "replyKeyboardOptions": {},
        "replyKeyboardRemove": {},
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        624,
        0
      ],
      "id": "ac1d0322-4363-40d1-9f39-be19a13b62c2",
      "name": "Send a text message",
      "webhookId": "f47329d4-5bc6-41c4-a21a-851a774a3224",
      "credentials": {
        "telegramApi": {
          "id": "RJZQZHGDG1PqjhLN",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "13b1a9dd-3819-47a0-a47c-4375e192f491",
              "name": "row_number",
              "value": "={{ $('Ambil Data Posting').item.json.row_number }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        832,
        0
      ],
      "id": "0452b464-3b07-470e-845c-fd5a502f9a2d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "=1O8eTjPksyQzrh30-o5xlb--DNLQcQhSwxT75UYMr3w8"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1O8eTjPksyQzrh30-o5xlb--DNLQcQhSwxT75UYMr3w8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $('Filter Ready Post').item.json.ID }}",
            "Status": "Published"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Scheduled Date",
              "displayName": "Scheduled Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Scheduled Time",
              "displayName": "Scheduled Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1040,
        0
      ],
      "id": "53009381-f804-4137-bd10-6315c73d440c",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "grofA9sptIfzIUnN",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Ambil Data Posting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ambil Data Posting": {
      "main": [
        [
          {
            "node": "Filter Ready Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Ready Post": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "dab6e38e-f96a-4f22-94c2-ba2d578d8e82",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0adcf940c15f27c3b96f3bd4c5c640db86e15006f716c809e8f87ae00db62d2e"
  },
  "id": "OJ92DAQDsVgDcRO5",
  "tags": []
}