Tugas 2 Implementasi AI untuk Pemasaran_Muhamad Indra Ikmaludin_0110123056.json
{
  "name": "Tugas 2 Implementasi AI untuk Pemasaran_Muhamad Indra Ikmaludin_0110123056",
  "nodes": [
    {
      "parameters": {
        "formTitle": "AI Image Generator - NF Academy",
        "formDescription": "Masukkan prompt untuk generate gambar AI menggunakan Kie AI",
        "formFields": {
          "values": [
            {
              "fieldLabel": "prompt",
              "fieldType": "textarea",
              "placeholder": "Contoh: A beautiful sunset over the mountains, photorealistic, 4K",
              "requiredField": true
            },
            {
              "fieldLabel": "task_type"
            },
            {
              "fieldLabel": "api_key",
              "fieldType": "password",
              "placeholder": "Masukkan API Key Kie AI kamu",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "6476eeec-afb2-4958-9aae-c95decf73bde",
      "name": "Submit Text Prompt untuk Generate Gambar",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -1152,
        128
      ],
      "webhookId": "d06d12e3-b775-4d68-a6e7-5cb38de4699b",
      "notes": "Langkah 1: Node Form sebagai pemicu awal. Pengguna mengisi prompt dan api_key melalui URL form yang digenerate n8n. Data ini digunakan di seluruh alur kerja."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"grok-imagine/text-to-image\",\n  \"callBackUrl\": \"https://api.kie.ai/api/v1/jobs/createTask\",\n  \"input\": {\n    \"prompt\": \"{{ $json.prompt }}\",\n    \"aspect_ratio\": \"3:2\"\n  }\n}",
        "options": {}
      },
      "id": "5c124fb5-3e93-49ab-ac2d-046fb0f13c59",
      "name": "Mengirim Image Generation Request ke Kie AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -944,
        128
      ],
      "notes": "Langkah 2: HTTP POST ke endpoint https://api.kie.ai/api/v1/jobs/createTask. Header Authorization menggunakan api_key dari form. Respons berisi taskId untuk polling."
    },
    {
      "parameters": {
        "amount": 10
      },
      "id": "e34f3fc5-7400-41ac-b355-e24ac471119b",
      "name": "Menunggu Proses Generate Gambar",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -704,
        128
      ],
      "webhookId": "wait-10-detik-polling",
      "notes": "Langkah 3 (bagian polling loop): Memberikan jeda 10 detik agar server AI memiliki waktu memproses permintaan sebelum dicek statusnya kembali."
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/jobs/recordInfo",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $json.data.taskId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Submit Text Prompt untuk Generate Gambar').item.json.api_key }}"
            }
          ]
        },
        "options": {}
      },
      "id": "40591ebd-be4f-43e4-abb8-2f2da25f312e",
      "name": "Mendapatkan Status Generate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -464,
        128
      ],
      "notes": "Langkah 3 (bagian polling loop): HTTP GET ke endpoint recordInfo untuk mengecek status tugas menggunakan taskId dari respons POST awal. api_key diambil dari node form pemicu."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-state-success",
              "leftValue": "={{ $json.data.state }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1e277995-383e-4e5d-bbf8-34dc72b462a2",
      "name": "Check Jika Generate Sudah Selesai",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -224,
        128
      ],
      "notes": "Langkah 4: Gerbang logika yang memeriksa apakah field 'state' dalam data respons sama dengan 'success'. TRUE → lanjut ke ekstraksi URL. FALSE → kembali ke Wait (polling loop ulang)."
    },
    {
      "parameters": {
        "jsCode": "// Format Result - Kode dari materi NF Academy\n// Parsing string JSON dan mengekstrak URL gambar dari resultUrls\n\nconst result = JSON.parse($json.data.resultJson);\n\nreturn [{\n  img1: result.resultUrls[0] || null,\n  img2: result.resultUrls[1] || null,\n  img3: result.resultUrls[2] || null,\n  img4: result.resultUrls[3] || null\n}];\n"
      },
      "id": "83d16826-f76e-4979-9c58-37de311fa442",
      "name": "Format Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "notes": "Langkah 5: Code Node JavaScript. Mem-parsing field resultJson (berupa string JSON) dari respons API menjadi objek. Mengekstrak hingga 4 URL gambar dari array resultUrls."
    },
    {
      "parameters": {
        "jsCode": "// Loop Image - Kode dari materi NF Academy\n// Menyiapkan data URL gambar untuk diproses satu per satu\n\nconst urls = [\n  $json.img1,\n  $json.img2,\n  $json.img3,\n  $json.img4\n].filter(Boolean);\n\n// jadikan 1 URL = 1 item\nreturn urls.map((url, index) => ({\n  json: {\n    url,\n    index: index + 1\n  }\n}));\n"
      },
      "id": "6dafa911-86d4-4509-9f34-f5bd28d502cd",
      "name": "Loop Image",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ],
      "notes": "Langkah 6: Code Node JavaScript. Menggabungkan img1-img4 ke dalam satu array, memfilter nilai null/undefined, lalu mengubahnya menjadi array objek {url, index} untuk diproses individual."
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "fee175f0-bade-4d11-82c6-5c5740dedfb8",
      "name": "Download Gambar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        0
      ],
      "notes": "Langkah 7: HTTP GET untuk mengunduh file gambar dari URL yang diperoleh dari Loop Image. Respons dikonfigurasi sebagai File dan disimpan dalam field bernama 'data' (binary)."
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "5388551320",
        "binaryData": true,
        "additionalFields": {
          "caption": "=🎨 Gambar AI berhasil dibuat!\n\n📝 Prompt: {{ $('Submit Text Prompt untuk Generate Gambar').item.json.prompt }}\n🔢 Gambar ke-{{ $('Loop Image').item.json.index }}\n\n✅ Generated by Kie AI via n8n"
        }
      },
      "id": "f3c77755-8387-4edd-9a98-41408338632c",
      "name": "Kirim Hasil Generate",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        736,
        0
      ],
      "webhookId": "6fd88d33-898f-44bc-8db5-3203945f542c",
      "credentials": {
        "telegramApi": {
          "id": "RJZQZHGDG1PqjhLN",
          "name": "Telegram account"
        }
      },
      "notes": "Langkah 8: Node Telegram untuk operasi 'Send Photo'. Mengambil file binary dari field 'data' dan mengirimkannya ke Chat ID yang ditentukan. Caption berisi info prompt dan nomor gambar."
    }
  ],
  "pinData": {},
  "connections": {
    "Submit Text Prompt untuk Generate Gambar": {
      "main": [
        [
          {
            "node": "Mengirim Image Generation Request ke Kie AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mengirim Image Generation Request ke Kie AI": {
      "main": [
        [
          {
            "node": "Menunggu Proses Generate Gambar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Menunggu Proses Generate Gambar": {
      "main": [
        [
          {
            "node": "Mendapatkan Status Generate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mendapatkan Status Generate": {
      "main": [
        [
          {
            "node": "Check Jika Generate Sudah Selesai",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Jika Generate Sudah Selesai": {
      "main": [
        [
          {
            "node": "Format Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Menunggu Proses Generate Gambar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Result": {
      "main": [
        [
          {
            "node": "Loop Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Image": {
      "main": [
        [
          {
            "node": "Download Gambar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Gambar": {
      "main": [
        [
          {
            "node": "Kirim Hasil Generate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "d97f425e-484e-4598-aa89-6b330522f560",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0adcf940c15f27c3b96f3bd4c5c640db86e15006f716c809e8f87ae00db62d2e"
  },
  "id": "992uqJfvLms5w5WO",
  "tags": []
}