Tugas 5 Implementasi AI untuk Pemasaran_Muhamad Indra Ikmaludin_0110123056.json
{
  "name": "Tugas 5 Implementasi AI untuk Pemasaran_Muhamad Indra Ikmaludin_0110123056",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        1664,
        272
      ],
      "id": "f86d64a1-635c-4178-9976-3509d94eef17",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://google.serper.dev/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"q\": \"\\\"NF Academy\\\" OR \\\"Nurul Fikri Academy\\\"\",\"gl\": \"id\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1952,
        64
      ],
      "id": "7983a18d-e76a-4d3c-a839-0d5a8b1522b7",
      "name": "NFA",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ek0T3QURzbB00qWz",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Mengambil seluruh item dari node sebelumnya\nconst allItems = $input.all();\nconst total = allItems.length;\n\n// Menghitung mention per brand secara total\nconst counts = {\n  nfa: allItems.filter(i => i.json.brand === \"NF Academy\").length,\n  bisa: allItems.filter(i => i.json.brand === \"BISA AI\").length,\n  vinix: allItems.filter(i => i.json.brand === \"Vinix 7\").length\n};\n\n// Menghitung Share of Voice (SOV)\nconst sov = {\n  nfa: total > 0 ? ((counts.nfa / total) * 100).toFixed(1) : 0,\n  bisa: total > 0 ? ((counts.bisa / total) * 100).toFixed(1) : 0,\n  vinix: total > 0 ? ((counts.vinix / total) * 100).toFixed(1) : 0\n};\n\n// Menggabungkan seluruh teks berita menjadi satu blok teks untuk AI\nlet combinedText = \"\";\nallItems.forEach(item => {\n  combinedText += `[${item.json.brand}] ${item.json.title}: ${item.json.snippet}\\n\\n`;\n});\n\n// PENTING: Mengembalikan HANYA SATU objek (bukan array)\nreturn {\n  metrics: {\n    processedAt: DateTime.now().toFormat('yyyy-MM-dd HH:mm'),\n    total_mentions: total,\n    breakdown: counts,\n    share_of_voice: sov,\n    dashboard_url: \"https://docs.google.com/spreadsheets/d/1NdIwGx2H9qQWZKp45SIW05THUutsFItskAjMmAiSndw/edit\"\n  },\n  text_for_ai: combinedText\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2464,
        272
      ],
      "id": "776e523a-07d7-429b-b391-baaae4c51e92",
      "name": "Menyiapkan Teks AI"
    },
    {
      "parameters": {
        "jsCode": "// Fungsi untuk mengambil data secara aman dari node search\nconst getOrganicData = (nodeName) => {\n  try {\n    const results = $(nodeName).all();\n    // Mengambil array 'organic' dari hasil Serper API\n    return results[0].json.organic || [];\n  } catch (e) {\n    return []; // Jika node gagal, berikan array kosong agar workflow tidak stop\n  }\n};\n\nconst nfaResults = getOrganicData('NFA');\nconst bisaResults = getOrganicData('BISA AI');\nconst vinixResults = getOrganicData('Vinix7');\n\n// Gunakan DateTime.now() dari Luxon (bukan $now.format)\nconst currentTime = DateTime.now().toFormat('yyyy-MM-dd HH:mm');\n\n// Gabungkan dan berikan label brand ke setiap berita\nconst finalData = [\n  ...nfaResults.map(i => ({ json: { ...i, brand: 'NF Academy', processedAt: currentTime } })),\n  ...bisaResults.map(i => ({ json: { ...i, brand: 'BISA AI', processedAt: currentTime } })),\n  ...vinixResults.map(i => ({ json: { ...i, brand: 'Vinix 7', processedAt: currentTime } }))\n];\n\nreturn finalData;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2256,
        272
      ],
      "id": "93f6fcc2-3bd7-4a46-bd03-74d09f4deeae",
      "name": "Gabungkan Data"
    },
    {
      "parameters": {
        "model": "xiaomi/mimo-v2-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2688,
        480
      ],
      "id": "f38deb7e-32c0-4b77-83c0-74b01a7c69be",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "k46eYPSR4KLoihMW",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Lakukan analisis kompetitif berdasarkan DATA METRICS berikut:\nTotal Mentions: {{ $json.metrics.total_mentions }}\nNF Academy: {{ $json.metrics.breakdown.nfa }} mention ({{ $json.metrics.share_of_voice.nfa }}%)\nBISA AI: {{ $json.metrics.breakdown.bisa }} mention ({{ $json.metrics.share_of_voice.bisa }}%)\nVinix 7: {{ $json.metrics.breakdown.vinix }} mention ({{ $json.metrics.share_of_voice.vinix }}%)\n\nDATA MENTAH:\n{{ $json.text_for_ai }}\n\nTugas Anda:\n1. Mengapa Share of Voice (SoV) NF Academy relatif lebih besar?\n2. Berikan skor reputasi 1-10 untuk NF Academy dibandingkan kompetitor berdasarkan kualitas snippet tersebut.",
        "messages": {
          "messageValues": [
            {
              "message": "=Anda adalah pakar Strategi Bisnis dan Analis Intelijen Kompetitif. Tugas Anda adalah menganalisis data mention dari internet untuk membandingkan brand NF Academy (milik pengguna) dengan kompetitornya (BISA AI dan Vinix 7). Fokus pada sentimen, tren fitur, dan peluang pasar."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        2688,
        272
      ],
      "id": "edca84bd-3710-41a4-a341-5113ab3901ab",
      "name": "Prompt Untuk Perbandingan"
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n<html lang=\"id\">\n<head>\n  <meta charset=\"UTF-8\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"/>\n  <title>Laporan Strategi Bisnis & Intelijen Kompetitif</title>\n\n  <style>\n    :root {\n      --orange: #FF6B35;\n      --blue: #2E5AAC;\n      --blue-light: #4A7DCC;\n      --gray-bg: #f8f9fa;\n      --text-dark: #333;\n      --text-light: #6c757d;\n    }\n\n    * {\n      margin: 0;\n      padding: 0;\n      box-sizing: border-box;\n    }\n\n    body {\n      font-family: Arial, Helvetica, sans-serif;\n      line-height: 1.6;\n      color: var(--text-dark);\n      background: #ffffff;\n    }\n\n    .container {\n      max-width: 1000px;\n      margin: 0 auto;\n      padding: 24px;\n    }\n\n    header {\n      background: linear-gradient(135deg, var(--blue), var(--blue-light));\n      color: white;\n      padding: 48px 24px;\n      text-align: center;\n      border-radius: 0 0 14px 14px;\n    }\n\n    header h1 {\n      font-size: 28px;\n      font-weight: bold;\n      margin-bottom: 10px;\n    }\n\n    header p {\n      font-size: 15px;\n      opacity: 0.95;\n    }\n\n    .badge {\n      display: inline-block;\n      margin-top: 12px;\n      background: var(--orange);\n      padding: 6px 14px;\n      border-radius: 20px;\n      font-size: 13px;\n      font-weight: bold;\n    }\n\n    section {\n      background: #ffffff;\n      margin: 32px 0;\n      padding: 28px;\n      border-radius: 12px;\n      border: 1px solid #eee;\n    }\n\n    h2 {\n      font-size: 22px;\n      color: var(--blue);\n      margin-bottom: 18px;\n      padding-bottom: 8px;\n      border-bottom: 2px solid var(--orange);\n    }\n\n    h3 {\n      font-size: 18px;\n      color: var(--blue);\n      margin: 18px 0 10px;\n    }\n\n    p {\n      margin-bottom: 12px;\n    }\n\n    ul, ol {\n      margin-left: 22px;\n    }\n\n    li {\n      margin-bottom: 10px;\n    }\n\n    .highlight {\n      background: #fff4e6;\n      padding: 2px 6px;\n      border-radius: 4px;\n      font-weight: bold;\n      color: #d35400;\n    }\n\n    /* Table */\n    table {\n      width: 100%;\n      border-collapse: collapse;\n      margin-top: 16px;\n    }\n\n    th {\n      background: var(--blue);\n      color: white;\n      padding: 12px;\n      font-size: 14px;\n    }\n\n    td {\n      padding: 12px;\n      border-bottom: 1px solid #eee;\n      font-size: 14px;\n      vertical-align: top;\n    }\n\n    .brand-bisa { background: #fff7f1; }\n    .brand-nf { background: #f1f6ff; }\n    .brand-vinix { background: #fafafa; color: #999; }\n\n    .score-bisa { color: var(--orange); font-weight: bold; }\n    .score-nf { color: var(--blue); font-weight: bold; }\n\n    .bar {\n      height: 18px;\n      border-radius: 10px;\n      margin: 6px 0 14px;\n      background: #ddd;\n      overflow: hidden;\n    }\n\n    .bar span {\n      display: block;\n      height: 100%;\n    }\n\n    .bar-bisa span { width: 53.3%; background: var(--orange); }\n    .bar-nf span { width: 46.7%; background: var(--blue); }\n\n    footer {\n      margin-top: 40px;\n      text-align: center;\n      font-size: 13px;\n      color: var(--text-light);\n    }\n\n    @media print {\n      section { page-break-inside: avoid; }\n    }\n  </style>\n</head>\n\n<body>\n\n<header>\n  <div class=\"container\">\n    <h1>📊 Laporan Strategi Bisnis & Intelijen Kompetitif</h1>\n    <p>Analisis Share of Voice (SoV) & Reputasi Digital</p>\n    <div class=\"badge\">📅 07 Januari 2026</div>\n  </div>\n</header>\n\n<div class=\"container\">\n\n  <section>\n    <h2>📌 Ringkasan Eksekutif</h2>\n    <p>\n      Dalam percakapan digital terbatas (<strong>15 mention</strong>),\n      <span class=\"highlight\">BISA AI</span> unggul tipis dengan\n      <strong>53.3% Share of Voice</strong>, sementara\n      <strong>NF Academy</strong> berada di <strong>46.7%</strong>.\n    </p>\n\n    <p><strong>BISA AI (53.3%)</strong></p>\n    <div class=\"bar bar-bisa\"><span></span></div>\n\n    <p><strong>NF Academy (46.7%)</strong></p>\n    <div class=\"bar bar-nf\"><span></span></div>\n  </section>\n\n  <section>\n    <h2>📢 Analisis Share of Voice</h2>\n\n    <h3>🤖 BISA AI</h3>\n    <ul>\n      <li>Fokus topikal AI & Data Science</li>\n      <li>Promosi agresif dan edukatif</li>\n      <li>Akses kursus gratis + sertifikasi</li>\n    </ul>\n\n    <h3>🎓 NF Academy</h3>\n    <ul>\n      <li>Konten dominan profil statis</li>\n      <li>Minim diskusi & CTA viral</li>\n    </ul>\n  </section>\n\n  <section>\n    <h2>⭐ Skor Reputasi</h2>\n    <table>\n      <tr>\n        <th>Brand</th>\n        <th>Skor</th>\n        <th>Kelebihan</th>\n        <th>Kelemahan</th>\n      </tr>\n      <tr class=\"brand-bisa\">\n        <td><strong>BISA AI</strong></td>\n        <td class=\"score-bisa\">8.0 / 10</td>\n        <td>Relevan, gratis, online</td>\n        <td>Branding generik</td>\n      </tr>\n      <tr class=\"brand-nf\">\n        <td><strong>NF Academy</strong></td>\n        <td class=\"score-nf\">6.5 / 10</td>\n        <td>Lokasi fisik, B2B</td>\n        <td>Konten kaku</td>\n      </tr>\n      <tr class=\"brand-vinix\">\n        <td><strong>Vinix 7</strong></td>\n        <td>0 / 10</td>\n        <td>—</td>\n        <td>Tidak terdeteksi</td>\n      </tr>\n    </table>\n  </section>\n\n  <section>\n    <h2>💡 Strategi Rekomendasi untuk NF Academy</h2>\n    <ol>\n      <li>Aktifkan konten sosial & instruktur</li>\n      <li>Tonjolkan keunggulan kelas tatap muka</li>\n      <li>Gunakan promosi berbasis hasil nyata</li>\n    </ol>\n  </section>\n\n  <footer>\n    <p>© 2026 — Laporan Strategi Bisnis & Intelijen Kompetitif</p>\n    <p>Data publik & analisis sosial media (Jan 2026)</p>\n  </footer>\n\n</div>\n\n</body>\n</html>\n"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        3248,
        272
      ],
      "id": "0cb305c4-c954-48a6-b998-d0c24bc8ddfd",
      "name": "HTML"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pdfshift.io/v3/convert/pdf",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "sk_591eee74fbcb95f16555c05605f7212524468684"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "source",
              "value": "={{ $json.html }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3456,
        272
      ],
      "id": "ef2f1671-7336-4111-af45-0c0e4197fa0f",
      "name": "HTML to PDF"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://google.serper.dev/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"q\": \"\\\"BISA AI\\\"\",\n  \"gl\": \"id\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1952,
        272
      ],
      "id": "72fba12f-fe47-4b81-a148-8d6b30091f5d",
      "name": "BISA AI",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ek0T3QURzbB00qWz",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://google.serper.dev/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"q\": \"\\\"Vinix 7\\\"\",\n  \"gl\": \"id\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1936,
        480
      ],
      "id": "7b86ccb2-f237-4e2e-8f4e-b7f8d37b4292",
      "name": "Vinix7",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ek0T3QURzbB00qWz",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "=1jO-Xl5gqCTMlpZ4nvto_w6dDpCAvCXYP_FMhIrUy3No",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Total Mention": "={{ $('Menyiapkan Teks AI').item.json.metrics.total_mentions }}",
            "Vinix 7": "={{ $('Menyiapkan Teks AI').item.json.metrics.breakdown.vinix }}",
            "BISA AI": "={{ $('Menyiapkan Teks AI').item.json.metrics.breakdown.bisa }}",
            "NF Acadeny": "={{ $('Menyiapkan Teks AI').item.json.metrics.breakdown.nfa }}",
            "Tanggal": "={{ $('Menyiapkan Teks AI').item.json.metrics.processedAt }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Tanggal",
              "displayName": "Tanggal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NF Acadeny",
              "displayName": "NF Acadeny",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "BISA AI",
              "displayName": "BISA AI",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Vinix 7",
              "displayName": "Vinix 7",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total Mention",
              "displayName": "Total Mention",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3040,
        272
      ],
      "id": "f7ed785c-aab2-44e1-ac4e-d9875d391092",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "grofA9sptIfzIUnN",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendDocument",
        "chatId": "=5388551320",
        "binaryData": true,
        "additionalFields": {
          "caption": "=📊 *Laporan Intelijen Kompetitif - 07 Januari 2026*\n\n• BISA AI unggul tipis dengan SoV 53.3%\n• NF Academy perlu optimasi konten dinamis\n• Vinix 7: belum terdeteksi - masalah awareness!",
          "fileName": "Laporan Intelijen Kompetitif - 07 Januari 2026.pdf"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3664,
        272
      ],
      "id": "6a9ea688-e103-4151-9642-34c3ea37fc32",
      "name": "Send a document",
      "webhookId": "1d269eea-31d5-48ef-9018-9b345a5308bd",
      "credentials": {
        "telegramApi": {
          "id": "RJZQZHGDG1PqjhLN",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "NFA",
            "type": "main",
            "index": 0
          },
          {
            "node": "BISA AI",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gabungkan Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Vinix7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NFA": {
      "main": [
        [
          {
            "node": "Gabungkan Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gabungkan Data": {
      "main": [
        [
          {
            "node": "Menyiapkan Teks AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Menyiapkan Teks AI": {
      "main": [
        [
          {
            "node": "Prompt Untuk Perbandingan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Prompt Untuk Perbandingan",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Prompt Untuk Perbandingan": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "HTML to PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML to PDF": {
      "main": [
        [
          {
            "node": "Send a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BISA AI": {
      "main": [
        [
          {
            "node": "Gabungkan Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vinix7": {
      "main": [
        [
          {
            "node": "Gabungkan Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "6a357861-7916-406e-bee8-715615084f27",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0adcf940c15f27c3b96f3bd4c5c640db86e15006f716c809e8f87ae00db62d2e"
  },
  "id": "sjVzRK2j33KM916Y",
  "tags": []
}