Tugas 3 Implementasi AI untuk Pemasaran_Muhamad Indra Ikmaludin_0110123056.json
{
  "name": "Tugas 3 Implementasi AI untuk Pemasaran_Muhamad Indra Ikmaludin_0110123056",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Generate video konten otomatis",
        "formDescription": "Isi informasi di bawah untuk generaate ai video",
        "formFields": {
          "values": [
            {
              "fieldLabel": "prompt"
            },
            {
              "fieldLabel": "img_url"
            },
            {
              "fieldLabel": "task_type"
            },
            {
              "fieldLabel": "api_key"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -880,
        16
      ],
      "id": "5586ab0a-c401-4358-9df0-b5a6762becb1",
      "name": "On form submission",
      "webhookId": "76c718f5-0002-463c-9e3a-78f5d24c966c"
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -448,
        16
      ],
      "id": "73f6e4bd-2d03-41db-9d49-23c0f8894350",
      "name": "Wait",
      "webhookId": "8e96237d-6f9c-40c0-94e3-541719394a40"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "8ad2c97e-3e6f-44fa-bbee-9495055608f0",
              "leftValue": "success",
              "rightValue": "={{ $json.data.state }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -160,
        16
      ],
      "id": "9a8c4b41-3c73-43a7-baf9-e548d15cbf62",
      "name": "Check Generate"
    },
    {
      "parameters": {
        "jsCode": "const result = JSON.parse($json.data.resultJson);\n\nreturn [{\n  videoUrl: result.resultUrls?.[0] || null\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "bb1face0-eda3-4a5e-8a0f-edbdd6ab4acd",
      "name": "Format result"
    },
    {
      "parameters": {
        "url": "=https://api.kie.ai/api/v1/jobs/recordInfo",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $json.data.taskId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('On form submission').item.json.api_key }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -304,
        16
      ],
      "id": "e6739b4f-04c0-4fa1-9e21-c249561fc34c",
      "name": "Status generate"
    },
    {
      "parameters": {
        "url": "={{ $json.videoUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        144,
        0
      ],
      "id": "af6ef3c3-ca42-473e-9add-90afc172d596",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"grok-imagine/text-to-video\",\n  \"input\": {\n  \"image_urls\": [\n    \"{{ $json.img_url.replace('file/d/', 'uc?export-v1ew&id=').split('/view')[0]}}\"\n  ],\n  \"prompt\": \"{{ $json.prompt }}\",\n  \"aspect_ratio\": \"2:3\",\n  \"mode\": \"normal\",\n  \"duration\": \"6\",\n  \"resolution\": \"480p\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -672,
        16
      ],
      "id": "19fbbb1c-f933-4c5e-b4de-5727375d17ad",
      "name": "Mengirim video generation request ke kie.ai api"
    },
    {
      "parameters": {
        "name": "Video topik 3",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1AnI2aqGYRnm8PRJjBa7oSYHBxtu9sbuV",
          "mode": "list",
          "cachedResultName": "Hasil Tpok 2 dan 3",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1AnI2aqGYRnm8PRJjBa7oSYHBxtu9sbuV"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        288,
        0
      ],
      "id": "a2291439-ad29-4c2b-9618-f221544fc12c",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Gh8XHKBntFDuC2yT",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Mengirim video generation request ke kie.ai api",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Status generate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Generate": {
      "main": [
        [
          {
            "node": "Format result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format result": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status generate": {
      "main": [
        [
          {
            "node": "Check Generate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mengirim video generation request ke kie.ai api": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "3778d208-d026-410b-897e-0bb34a7d0458",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0adcf940c15f27c3b96f3bd4c5c640db86e15006f716c809e8f87ae00db62d2e"
  },
  "id": "IC1I0oDojBbbGJ3a",
  "tags": []
}